img {
  max-width: 100%;
}

body {
  font-size: 100%;
  color: #404041;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, li, button, label {
  font-family: 'Noticia Text', serif;
}

.art-attr {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  text-align: center;
  margin-top: 80px;
}

p, select span{
  font-family: 'Quicksand', sans-serif;
}

main {
  margin: auto;
}

/*-----TEXT STYLES-----*/
p {
  font-size: .9em;
}


/*-----LINK STYLES-----*/


/*-----FORM STYLES-----*/
#new-installation {
  clear: both;
}

label {
  display: list-item;
  list-style: none;
  text-align: right;
  margin-right: 0 50px;
  padding: 0px;
  width: 550px;
  clear: both;
}

label.thick {
  font-weight: bold;
  font-size: 1.2em;
}

input, select {
  width: 400px;
  border: 1px solid #ccc;
  border-width: 0 0 1px 0;
  border-radius: 0;
}

footer {
  margin-top: 40px;
  height: 70px;
  text-align: center;
}
