img {
  max-width: 100%;
}

body {
  font-size: 100%;
  color: #404041;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, li, button, label {
  font-family: 'Noticia Text', serif;
}

.art-attr {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  text-align: center;
  margin-top: 80px;
}

p, select span{
  font-family: 'Quicksand', sans-serif;
}

::-webkit-input-placeholder {
   color: gray;
   font-family: 'Quicksand', sans-serif;
   font-weight: light;
   font-size: 80%;
}

:-moz-placeholder {
   color: gray;
   font-family: 'Quicksand', sans-serif;
   font-weight: light;
   font-size: 80%;
 }

::-moz-placeholder {
   color: gray;
   font-family: 'Quicksand', sans-serif;
   font-weight: light;
   font-size: 80%;
 }

:-ms-input-placeholder {
   color: gray;
   font-family: 'Quicksand', sans-serif;
   font-weight: light;
   font-size: 80%;
 }

 select {
     -webkit-padding-end: 20px;
     -moz-padding-end: 20px;
     -webkit-padding-start: 2px;
     -moz-padding-start: 2px;
     color: gray;
     font-family: 'Quicksand', sans-serif;
     font-weight: light;
     font-size: 80%;
 }

main {
  margin: auto;
}

li {
  list-style: none;
}

/*-----TEXT STYLES-----*/
p {
  font-size: .9em;
}


/*-----LINK STYLES-----*/
a, a:link, a:active {
  text-decoration: none;
  color: #404041;
}

a:hover, a:focus {
  color: #F1623E;
}

a:visited {
}

/*-----FORM STYLES-----*/
#new-installation {
  width: 340px;
  margin: 0 auto;
  clear: both;
}

label {
  display: list-item;
  list-style: none;
  text-align: left;
  margin-right: 20px;
  width: 220px;
  clear: both;
}

label.thick {
  font-weight: bold;
}

input, select {
  width: 330px;
  border: 1px solid #ccc;
  border-width: 0 0 1px 0;
  border-radius: 0;
  margin-top: 5px;
}

footer {
  margin-top: 40px;
  height: 70px;
  text-align: center;
}

@media only screen and (min-width: 640px) {
  #new-installation {
    width: 600px;
  }
  
  label {
    text-align: right;
    margin-right: 20px;
    width: 550px;
  }
  input, select {
    width: 400px;
  }
}
