.test {
    background-color: red;
    height: 100px;
    width: 100px;
    margin: 10px;
    float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

#site-header {
  height: 68px;
}

.page-header {
  display: inline;
  margin: 0 auto;
}

.parag {
  width: 80%;
  margin: 40px auto;
  text-align: justify;
}

.popular-placeholder {
  width: 90%;
  max-width: 800px;
  margin:0 auto;
}

.image {
    position: relative;
    float: left;
    width: 100%;
    height: 350px;
    margin-bottom: 4px;
}

.image img {
    width: 100%;
    margin: 1px;
    height: 350px;
}

.image:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(255,255,255,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.image:hover:after {
    opacity: 1;
}

.popular-image {
  margin: 1px;
  height: 350px;
  width: 100%;
  background-color: lightgray;
}

.required-field {

}

#install-image {
  height: 400px;
  width: 100%;
  margin: 20px auto;
}

#findMap {
  width: 100%;
  height: 400px;
  background-color: lightgray;
}

.center-image {
  width: 280px;
  margin: 0 auto;
  margin-top: 40px;
}
/* Optional: Makes the sample page fill the window. */

#floating-panel, #floating-panel-2 {
   font-family: 'Quicksand','sans-serif';
   z-index: 5;
}

#floating-panel {
  padding-left: 10px;
  text-align: center;
  position: absolute;
  top: 550px;
  width: 100%;
  padding: 5px;
}

#floating-panel-2 {

}

#ac, #ac-2{
  width: 400px;
}

.input-checkbox{
  width: 30px;
}

li.check {
  margin-top: 5px;
}

@media only screen and (min-width: 640px) {

  .image {
      margin: 2px;
      position: relative;
      width: 49%;
      height: 350px;
  }

}
